@import url(variables.css);
body{
    background: var(--colorPrimary);
}

.box{
    background: var(--color);
    display: inline-block;
    /* margin:10px 50px 5px; */
    /* padding:10px 50px 5px; */
    /* border: 1px solid orchid; */
    /* outline:1px solid green; */
    margin-bottom: 10px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #0179e9, 0px 0px 5px #07ec7a;;
}